body {
    display: flex;
    background: rgb(142, 130, 255);
    height: 90vh;
    justify-content: center;
    align-items: center;
}

div {
    display: grid;
    gap: 15px;
    width: 220px;
    height: 210px;
}

a {
    height: 40px;
    background: rgb(99, 12, 12);
    text-align: center;
    font: normal 10pt monospace;
    line-height: 40px;
    color: white;
    text-decoration: none;
    box-shadow: 1px 1px 5px black;
}

a:hover {
    transform: scale(1.1);
}